.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background-color: #131313;
  padding: 2rem;
  margin-top: 80px;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-flow: row wrap;
  }
}

.observer {
  background-color: #131313;
  height: 5rem;
}
