.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #181818;
  color: #fefefe;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 4rem;
  cursor: pointer;
}

.logo > img {
  width: 40px;
  height: 40px;
  margin-right: 0.7rem;
}

.logo > span {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
}

.search {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  flex-grow: 1;
}

.search > input {
  max-width: 500px;
  outline: none;
  border: 1px solid #333333;
  flex-grow: 1;
  padding: 0 0.5rem;
  background-color: #111111;
  font-size: 1.1rem;
  color: #fefefe;
}

.search > input:active,
.search > input:focus {
  border: 1px solid #3944bc;
}

.search > button {
  width: 60px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #333333;
  cursor: pointer;
}

.search > button > img {
  width: 18px;
  height: 18px;
}
