.video-wrap {
  width: 25%;
  min-width: 300px;
  padding: 1.5rem;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  color: #fefefe;
  cursor: pointer;
}

.thumbnail {
  margin-bottom: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5rem;
  height: 3rem; /* line-height의 2배 */
}

.channel {
  font-size: 0.8rem;
  color: gray;
  margin-top: 0.8rem;
}
